

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="/css/Create.css"/>
</head>
<body>
<div>
    <h2 class="title">Crear Evento</h2>

    <div class="form-card">
        <form asp-action="Create" asp-controller="PanelAdministrativo"   method="post">

            <div class="form-group">
                <label>Nombre Del Evento</label>
                <input type="text" name="Nombre" class="form-control" required />
            </div>

            <div class="form-group">
                <label>Fecha Del Evento</label>
                <input type="date" name="Fecha" class="form-control" required />
            </div>

            <div class="form-group">
                <label>Descripción Del Evento</label>
                <textarea name="Descripcion" class="form-control" required></textarea>
            </div>

            <div class="form-group">
                <label>Ubicación Del Evento</label>
                <input type="text" name="Ubicacion" class="form-control" required />
            </div>

            <div class="form-group">
                <label>URL Imagen</label>
                <input type="text" name="ImagenUrl" class="form-control" />
            </div>
            
            <button asp-action="Index"  type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
</body>
</html>


