@model Eventos.Models.Evento
<html>
<head>
    <title>Editar</title>
    <link rel="stylesheet" href="./css/Create.css">
</head>
</html>



<div class="form-card">
    <form asp-action="Update" asp-controller="PanelAdministrativo"   method="post">

        <div class="form-group">
            <label>Nombre Del Evento</label>
            <input type="text"  class="form-control"  asp-for="Nombre" required />
        </div>

        <div class="form-group">
            <label>Fecha Del Evento</label>
            <input type="text"  class="form-control" asp-for="Fecha" required />
        </div>

        <div class="form-group">
            <label>Descripción Del Evento</label>
            <textarea  class="form-control" asp-for="Descripcion" required></textarea>
        </div>

        <div class="form-group">
            <label>Ubicación Del Evento</label>
            <input type="text"  class="form-control" asp-for="Ubicacion" required />
        </div>

        <div class="form-group">
            <label>URL Imagen</label>
            <input type="text"  class="form-control" asp-for="Imagen" />
        </div>
            
        <button asp-action="Index"  type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>